<%= form_for(@line) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= hidden_field_tag "line[station_ids][]", nil %>
    <%= f.collection_check_boxes :station_ids, Station.all, :id, :name %>
  </div>
  <%= f.submit(:class => "btn btn-danger") %>
<% end %>


