<h1><%= @line.name %></h1>

<% @stops.each do |stop| %>
  <div class="btn btn-default btn-sm">
    <%= "#{stop.find_station.name} - #{stop.time}"%>
  </div>
<% end %>

<hr>
<%= link_to "Add Stops", new_stop_path, :class=> "btn btn-info" %>
<%= link_to "Edit Line", edit_line_path(@line), :class=> "btn btn-success" %>

<%= link_to "Delete", line_path(@line),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"},
                         :class => "btn btn-danger" %>
