<h1>Stations</h1>

<ul>
  <% @stations.each do |station| %>
    <%= link_to "#{station.name}", station_path(station), :class=> "btn btn-default btn-sm" %>
  <% end %>
</ul>
<%= javascript_include_tag "colorparagraph.js" %>

<p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>

<p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb. </p>


<%= link_to "New Station", new_station_path, :class=> "btn btn-success" %>
<%= link_to "Lines", lines_path, :class=> "btn btn-danger" %>
<%= link_to "Stops", stops_path, :class=> "btn btn-info" %>
