<!DOCTYPE html>
<html>
<head>
  <title>Timetable</title>
  <link rel="stylesheet" href="http://cdn.graphalchemist.com/alchemy.min.css">
  <script type="text/javascript" src="http://cdn.graphalchemist.com/alchemy.min.js">
  <link rel="stylesheet" type="text/css" href="path/to/vendor.css">
  <link rel="stylesheet" href="path/to/alchemy.css">
  <script type="text/javascript" src="path/to/vendor.js">
  <script type="text/javascript" src="path/to/alchemy.js">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
  <% end %>
    <% if flash[:alert] %>
  <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
  <% end %>
  <%= yield %>
  <hr>
  <%= link_to "Home", stations_path, :class=> "btn btn-primary" %>
</div>
</body>
</html>
